{{#each provider.channel_parameters as |param|}}
  {{#unless param.hidden}}
    <span class="field-name">
      {{i18n (concat "chat_integration.provider." channel.provider ".param." param.key ".title")}}:
    </span>
    <span class="field-value">{{get channel.data param.key}}</span>
    <br>
  {{/unless}}
{{/each}}
