{{#if anyErrors}}
  <div class="error">
    {{d-icon "exclamation-triangle"}}
    <span class="error-message">{{i18n "chat_integration.channels_with_errors"}}</span>
  </div>
{{/if}}

{{#each model.channels as |channel|}}
  {{channel-details
    channel=channel
    provider=model.provider
    refresh=(route-action "refreshProvider")
    editChannel=(action "editChannel")
    test=(action "testChannel")
    createRule=(action "createRule")
    editRuleWithChannel=(action "editRuleWithChannel")
    showError=(action "showError")
  }}
{{/each}}

<div class="table-footer">
  <div class="pull-right">
    {{d-button
      id="create-channel"
      action=(action "createChannel")
      actionParam=model.provider
      icon="plus"
      title="chat_integration.create_channel"
      label="chat_integration.create_channel"
    }}
  </div>
</div>
