<div class='admin-chat'>
  <div class="admin-controls">
    <div class="span15">

      <ul class="nav nav-pills">
      	{{#each model as |provider|}}
        	{{nav-item label=(concat 'chat.integration.' provider '.title')}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>