<div id="admin-plugin-chat">
  <div class="admin-controls">
    <div class="span15">
      <ul class="nav nav-pills">
        {{#each model as |provider|}}
          {{nav-item
            route="adminPlugins.chat-integration.provider"
            routeParam=provider.name
            label=(concat "chat_integration.provider." provider.name ".title")
          }}
        {{/each}}
      </ul>
    </div>

    <div class="pull-right">
      {{d-button
        action=(route-action "showSettings")
        icon="cog"
        title="chat_integration.settings"
        label="chat_integration.settings"
      }}
    </div>
  </div>

  {{#unless model.totalRows}}
    {{i18n "chat_integration.no_providers"}}
  {{/unless}}

  {{outlet}}
</div>
